/*
COLOR PALETTE
https://coolors.co/eaefbd-c9e3ac-90be6d-ea9010-37371f

font-family: "Noto Sans", sans-serif;
font-family: "Righteous", sans-serif;
font-family: "Merriweather", serif;

background-color: #ADE25D;
color: #40531B;

*/


/*--------- Custom CSS Reset--------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color:#333;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
    background-color:#F9F9F9;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
  
    
}


/*----------- Header and Nav of home page---------- */
header {

    background-color: rgba(173, 226, 93, 0.6);
    color: #40531B;
}
.main-navbar {
    display: grid;
    place-items: center;
    padding: 2em 6em;
}

#navigation {
    display: flex  ; 
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;
}
.navbar-logo {
    padding-left: 2.5em;
}

.navbar-logo img {
    height: 50px;


}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-nav li {

    padding-right: 2.5em;
}

.navbar-nav li a {
    text-decoration: none;
    color: #40531B;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    font-size: 1.1rem;
    position: relative; /* Needed for positioning the pseudo-elements */
    transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-nav li a::before,
.navbar-nav li a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust based on your layout */
    left: 0;
    right: 0;
    height: 2px; /* Height of the underline */
    background-color: #40531B; /* Color of the underline */
    transform: scaleX(0); /* Start with no width */
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.navbar-nav li a::before {
    transform-origin: right;
}

.navbar-nav li a::after {
    transform-origin: left;
}

.navbar-nav li a:hover::before,
.navbar-nav li a:hover::after,
.navbar-nav li a:focus::before,
.navbar-nav li a:focus::after { /* Apply to both hover and focus for accessibility */
    transform: scaleX(1); /* Full width */
}

.hero {
    display: flex;
    padding: 3.5em;
    align-items: center;
    justify-content: center;
}

.hero-text {
    width: 40%;
    padding-left: 90px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 0.1em;
}

.hero-text h1 {

    font-size: 3rem;
}
.hero-text p {

    font-size: 1.2rem;
}


.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
    
}
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
   
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #40531B;
}
.search-button {
    background-color: #ffffff;
    color: #000000;
    padding: 8px 16px;
    border: none;
    border-radius: 20px; /* Adjust as necessary for the desired roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Optional: adds a small gap between the icon and text */
}

.search-button i {
    font-size: 20px; /* Adjust icon size as needed */
}

/* Style for the hover state of the button */
.search-button:hover {
    background-color: #f0f0f0; /* Slightly darker on hover */
}

/* Style to remove outline that appears when the button is clicked (focus state) */
.search-button:focus {
    outline: none;
}

/* ------------Footer----------- */

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #EA9010;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}

.footer-bottom {
    margin-top: 1em;
    margin-left: 4.3em;
    
}


/*-------------------Home page--------------------- */
.ride-share-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    /* padding: 20px 20px; */
    /* background-color: #f3f9dc; */
    padding: 3em;
    border-radius: 1em;
	box-shadow: 
    1.5em 1.5em 1px rgba(173, 226, 93, 0.6), /* Primary shadow */
    0 0 5px rgba(0, 0, 0, 0.1), /* Light shadow on one side */
    0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow on another side */
}
.image-side  {
    
    width:50%
   
}
.image-side img {
    width: 100%;
    
   
}
.text-side {
    width:50%
}

.text-side h2 {
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
    color: #40531B;
    font-weight: bolder;
    font-size: 2rem;
}

.text-side p {
    margin-bottom: 20px;
    color:#333;
}

.signup-btn {
    
    background-color: #EA9010;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.signup-btn:hover {
    background-color: #c77c15;
}

.features-list {
    display: flex; /* Apply Flexbox */
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
    
}

.features-list span{
    margin-left: 20px;
}

.features-list img
{
    width:40px;
}

.feature-container
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom:1rem;
    padding-left:2rem;
}
.home-page-content
{
    background-color:#F9F9F9;
    margin: 100px 0;
}

/*-------------------Sign In----------------*/

.sigin
{
    display: flex;
    min-height: 100vh;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 6em;
    align-items: center;
    gap:20px;
}
.sigin-image-side  {
    
    width:45%
   
}
.sigin-image-side img {
    width: 100%;
    
   
}
.signin-container {
    background: white;
    /* padding: 40px; */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
    width: 55%;
    max-width: 500px; 
    text-align: center; 
    
    
}
.signin-form
{
    padding:2em;
    margin-top:30px;
}
.top {
    background-color: #c4d3ec;
    background: linear-gradient(to left, 
    rgba(193, 236, 123, 0.6),  /* Lighter shade */
    rgba(173, 226, 93, 0.6),   /* Original color */
    rgba(153, 216, 63, 0.6));  /* Slightly darker shade */   display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 0 0 75px 75px;
}

/* .top:hover {
    transition: .4s;
    border-radius: 0;
    width: 100%;
}

.top:not(:hover) {
    transition: .4s;
    border-radius: 0 0 75px 75px;
    width: 100%;
} */

.signin-container h2 {
    
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
    font-size: 2em;
    color:#40531B;
    /* font-family: "Righteous", sans-serif; */
    font-family: "Merriweather", serif;
    
}

.form-group {
    text-align: left; 
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600; 
}

.form-group input {
    width: 100%; 
    padding: 10px;
    border: 2px solid #bdbdbd; 
    border-radius: 5px; 
    
}

.signin-btn {
    margin-top: 30px;
    width: 100%;
    padding: 12px 0;
    background-color:#EA9010;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.signin-btn:hover {
    
    background-color: #c77c15;
}

.register-links {
    margin-top: 25px; 
    display: flex;
    flex-direction: column;
    gap:10px;
}
.register-links h3
{
    color:#40531B;
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.register-links a {
    text-decoration: none;
    color: #5454ef;
    margin: 0 5px;
    
}

.register-links a:hover {
    text-decoration: underline;
      
}

/*-------------------Sign Up----------------*/
.signup-container
{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch; 
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
    max-width:80%;
    margin:100px auto;
}
.signup
{
    padding:5em;  
    width: 55%; 
    height: auto;
}
.welcome-container
{
    margin-top: 2em;
    padding:6em;
    max-width: 500px; 
}
.welcome-section
{
    flex: 1;
    width: 45%; 
    background-color:#cfffb3;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    color: white;
}

.welcome-section h2 {
    font-size: 2.5em; 
    margin-bottom: 0.5em;
    color:#40531B;
}

.welcome-section p {
    font-size: 1em; 
    margin-bottom: 2em;
    color:#333;
}

.signin-link {
   
    color: #5454ef;
    text-decoration: none; 
    font-weight: 500; 
}
.signin-link:hover {
    
    text-decoration: underline; 
    
}
.registration-form {
    padding: 40px; 
    max-width: 550px;
    
}

.signup h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color:#40531B;
   
    font-family: "Merriweather", serif;
    
}

.registration-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.registration-form input[type="text"],
.registration-form input[type="date"],
.registration-form input[type="email"],
.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form input[type="number"],
.registration-form input[type="file"],
.registration-form select,
.registration-form .register-button {
    width: 100%; 
    padding: 10px;
    border: 2px solid #bdbdbd; 
    border-radius: 5px; 
    background-color: #f0f0f0;
}


.registration-form-group {
    text-align: left; 
    margin-bottom: 20px;
   
}
.registration-form-group .checkbox {
    display:flex;   
    gap: 5px;
    align-items: baseline;
    
}
.upload-file
{
    display:flex;
    gap: 15px;
    align-items: baseline;
}

.signin-btn img {
    
    width:40px;
}
.signup-btn
{
    /* width:100%; */
    font-weight: 500; 
    text-transform: uppercase;
    font-size: 1.1rem;
}
.group{

    display: flex;
    align-items: flex-end;
    
    justify-content: space-between;
}
.group a{

    text-decoration: none;
    color: #5454ef;
    margin: 0 5px;
    font-size: 1.2rem;
}
.group a:hover{

    text-decoration: underline;
}

.signup-image img
{
    width:50%;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color:#f0f0f0;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2em;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    padding: 1em; /* Adjust padding as needed */
    align-items: center;
    gap: 20px;
}

.close-btn-container a {
    text-decoration: none;
    color: #5454ef;
    margin: 0 5px;
    font-size: 1.2rem;
    
}
.close-btn-container a:hover{

    text-decoration: underline;
}

.close {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color:#EA9010;
    border:none;
    padding: 6px 20px;
    /* width: 15%; */
    float: right;
}


.close:hover,
.close:focus {
    color:#CFFFB3;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color:#40531B;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.modal-header h2
{
    font-size: 1.5rem;
    text-align: center;
}
.modal-body {
    padding: 10px 16px;
}

.modal-body p {

    font-size: 1.1rem;
    text-align: center;
    color:#333;
}
#confirmCancel {
    margin-top:20px;
    background-color: rgb(51, 162, 51); /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
}

#confirmCancel:hover {
    background-color: rgb(76, 130, 76); /* Darker green on hover */
}

#closeModal {
    margin-top:20px;
    background-color: rgb(217 47 47); /* Red background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
}

#closeModal:hover {
    background-color: darkred; /* Darker red on hover */
}

/*-------------------Driver Dashboard----------------*/
/* User info styling */
.user-dashboard
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:2em;
}
.user-info {
    
    /* background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  */
    display:flex;
    align-items: center;
    padding: .5em 3em;
    flex-direction: row;
}

.user-info img.profile-pic {
    width: 80px; /* Adjust based on your preference */
   
    border-radius: 50%; /* Circular profile pictures */
    
}

 .user-info span , .user-info a {
    font-size: 1.1em;
    font-weight: 600;
    color:#40531B;
    font-family: "Merriweather", serif;
}
.user-info a
{
    text-decoration: none;
    margin-left: 64%;
}
.driver-options
{
    margin-top:3em;
    margin-bottom:8em;
}
/* Dashboard cards styling */
.dashboard-cards {
    display: flex;
    justify-content: center;
    gap: 100px; /* Space between cards */
    perspective: 1000px; /* Provides depth to the flip effect */
    padding-top:4em;
    padding-bottom: 10em;
}

.dashboard-card {
    width: 330px; 
    height: 330px;
    background-color:#CFFFB3;
    color: #333; 
    text-align: center;
    line-height: 330px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: all 0.3s ease; 
    text-decoration: none; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dashboard-card:hover {
    transform: translateY(-5px); 
}

.dashboard-card h3 {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.8em;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
    .card-front img
    {
        width:100%;
        border-radius: 10px; 
    }

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
   
}


.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    transform: rotateY(180deg);
   
}


.dashboard-card:hover .card-inner {
    transform: rotateY(180deg);
}
.dashboard-card a{

    color:#40531B;
}

/*-------------------Post a ride----------------*/

.post-ride-container {
    max-width: 1100px;
    margin: 0 auto; /* This centers the container */
    padding-top: 6em;
    padding-bottom: 6em;
   
}
.container
{
    display:flex;
    gap:30px;
    align-items: stretch;
}

.page-title {
    text-align: left; 
    color: #40531B;
    font-size: 2rem;
}
hr {
    border: 0; 
    height: 5px; 
    width:30%;
    border-radius:2px;
    background-color:#CFFFB3;
    margin-top: 20px; 
}
.hr {
    border: 0; 
    height: 5px; 
    width:20%;
    border-radius:2px;
    background-color:#CFFFB3;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
/* .heading
{
    margin-left:12em;
    margin-top: 2em;

} */
.post-ride-form {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
    margin-top:20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.date-time-group {
    display: flex;
    gap: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical; /* Allows vertical resizing, might be useful for additional notes */
}

.submit-btn {
    /* grid-column: span 2;  */
    padding: 10px 20px;
    background-color: #EA9010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #c77c15;
}

/*-------------------Find  a ride----------------*/

.rides-listing
{
    max-width: 1100px;
    margin: 0 auto;
    padding: 3em;
    display: flex;
    gap: 20px;
    flex-direction: column;
    min-height: 100vh;
}
.rides-listing h2{

    font-size: 2rem;
    color:#40531B;
}
.rides-listing .ride {
    /* display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #cfffb3;
    border-radius: 5px;
    margin-top: 10px;
    gap:30px; */
    display: grid;
    grid-template-columns: auto 1fr 1fr auto; 
    align-items: center;
    gap: 20px; 
    padding: 5px 35px;
    background-color: #cfffb3;
    border-radius: 5px;
}


.ride .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid white;
    object-fit: cover;
}


.ride-details, .ride-location {
    display: flex;
    flex-direction: column;
}

.ride-details p, .rider-info h4 {
    margin: 0; /* Removes default margin for a cleaner look */
}


.ride-details h4 {
    margin: 0;
}

.ride-details p {
    margin: 5px 0;
}

.ride button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:30%;
    
}

.ride button:hover
{
    background-color: #65d268;
}
/*-------------------Passenger Booking----------------*/

.bookings-listing {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
   min-height: 100vh;
}
.bookings-listing h2
{  text-align: left;
    margin-top:20px;
    color: #40531B;
    font-size: 2rem;
}
.booking .ride-details {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
   
}
.booking
{
    display: flex;
    flex-direction: row;
    background-color: #cfffb3;
    align-items: center;
    padding: 1em;
    justify-content: space-around;
}

.ride-details p {
    margin: 5px 0;
}
.booking-btn-container
{
    display:flex;
    flex-direction: row;
    gap:20px;
   
}
.booking-btn-container #pay-button{
   
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.booking-btn-container #pay-button:hover
{
    background-color: #65d268;
   
}
.booking-btn-container #cancel-button 
{
    background-color: #e46656;
    
    border-radius: 5px;
   

}
.booking-btn-container #cancel-button:hover{
    background-color: #cf7d72;

}


/*-------------------search a ride---------------*/
.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.search-form input[type="text"] {
    margin: 0 5px;
    padding: 8px;
}

.search-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}
/* map */
#mapContainer
{
    width: 640px; 
    height: 480px;
    margin-top: 20px;
}
/*-------------------Search Function----------------*/
.search-container
{
    display:flex;
    flex-direction: row;
    padding:1em;
}
/* Style for the aside container */
.sidebar {
    width: 15%;
    background-color: #cfffb3;
    padding: 20px;
    margin-left: 15px;
    margin-top: 50px;
    
    height: auto;
    
}

/* Style for labels */
.sidebar label {
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold; 
    color: #333; 
}

/* Style for input fields */
.sidebar input[type="date"] {
    width: calc(100% - 2px); 
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

/* Style for select fields */
.sidebar select {
    width: 100%; 
    padding: 8px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #fff; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}

/* Additional style for better UX */
.sidebar input[type="date"]:focus,
.sidebar select:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, .5); 
}

/* You might want to add a custom arrow icon for the select box */
.sidebar select {
    background-image: url('arrow-down-icon.png'); 
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px; 
}
.main-content {
    /* margin-left: 200px;
    padding: 50px;
    height:100vh;
     */
    margin-left: 20px;
    padding: 3em;
    height: auto;
    width:85%;
}

.search-form {
    background-color:  #cfffb3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    width:35%;
}

.search-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width:15%;
}
.search-form button:hover
{
    background-color: #65d268;
}
 /* SEARCH A RIDE */
.ride-list {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.rides {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.ride-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.ride-info {
    flex-grow: 1;
    margin-left:90px;
    
}
.ride-info p
{
    margin-bottom: 10px;
}
.book-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width:10%;
}
.book-btn:hover
{
    background-color: #65d268;
}

/* View ride details */
.view-ride
{
    padding:5em;
}
.ride-details-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
   
}

.ride-details-container h1 {
    color: #333;
    text-align: center;
}

.ride-details > div {
    margin-bottom: 20px;
}

.driver-info, .vehicle-info, .view-ride-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    
}

.driver-info img.vehicle-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.ride-details-container h2, .ride-details-container h3 {
    color: #444;
    margin: 0 0 10px;
}

.ride-details-container p {
    color: #666;
    margin: 10px 0;
}

.ride-details-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width:20%;
}
.ride-details-container button:hover 
{
    background-color: #65d268;
}
/* payment */

.checkout-container
{
    padding:3em;
    max-height:100vh;
    margin:50px auto;
}
.checkout{
    background-color: #ffffff;
    margin: auto;
    padding: 3em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px;
}
.amount
{
margin:10px 0;
}
.payment-type, #card-details, #points-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}



.payment-type label, .card-details h3, .points-details h3 {
    font-size: 18px;
    font-weight: bold;
}

#points-details p {
    font-size: 16px;
    color: #555;
}

#card-details {
    background-color: #fff3cd; 
}

#points-details {
    background-color: #d1ecf1; 
}

.checkout h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.checkout h3 {
    color: #333;
    margin-top: 0;
}

.checkout input[type="text"], select, input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.checkout button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
   
}

.checkout button[type="submit"]:hover {
    background-color: #45a049;
}
#payment-form-message
{
    color:rgb(237, 28, 28);
    display: none;
    margin-bottom: 10px;
    text-align: center;
}

/* payment success */
.wrapperAlert {
    width: 500px;
    height: auto;
    overflow: hidden;  
    border-radius: 12px;
    border: thin solid #ddd;  /* Darker border color */
    margin: 75px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Slight shadow for depth */
                0 6px 20px rgba(0, 0, 0, 0.1); /* Larger shadow for visual separation */    
  }
  
  .topHalf {
    width: 100%;
    color: white;
    overflow: hidden;
    min-height: 350px;
    position: relative;
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(173, 226, 93, 0.6), #96bc54);
    display: grid;
    place-items: center;
  }
  
  .topHalf p {
    margin-bottom: 30px;

  }
  svg {
    fill: white;
  }
  .topHalf h1 {
    font-size: 2.25rem;
    display: block;
    font-weight: 500;
    letter-spacing: 0.15rem;
    text-shadow: 0 2px rgba(128, 128, 128, 0.6);
  }
          
 
  
  .bottomHalf {
    align-items: center;
    padding: 35px;
    display: grid;
    place-items: center;
  }
  .bottomHalf p {
    font-weight: 500;
    font-size: 1.05rem;
    margin-bottom: 20px;
  }
  
  button {
    border: none;
    color:#ffffff;
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;            
    padding: 10px 18px;     
    background-color: #6E8B3D;
       

  }
  button:hover {
    background-color: rgba(133, 194, 41, 0.6);
  }
  /* General styling for the booking list */
  .finish-booking
  {

    display: flex;
    flex-direction: row;
    background-color: #cfffb3;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
  }
.booking-manage {
   
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Styling for passenger photo */
.booking-manage-image {
    width:120px;
    height:120px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid white;
    object-fit: cover;
}

/* Paragraph styling within a booking */
.booking-manage p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Styling for the 'Mark as Completed' button */
.mark-completed {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width:100%;
}

.mark-completed:hover {
    background-color: #45a049; /* Slightly darker green */
}

.mark-completed:disabled,
.mark-completed[disabled]{
    background-color: #ccc; /* Grayed out */
    cursor: not-allowed;
}
.star-rating .star {
    font-size: 30px;
    cursor: pointer;
    color: gray;
}
.star-rating .star:hover,
.star-rating .star:hover ~ .star {
    color: gold;
}
/*-------------------Media query----------------*/
@media only screen and (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
        padding: 1em;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav li {
        text-align: center;
        padding: 15px 0;
    }

    .hamburger {
        display: flex;
    }
    .navbar-nav.show {
        display: flex;
        justify-content: center;
   
        padding-left: 3.5em;
    }

   
    .footer-container {
        grid-template-columns: 1fr;
        justify-items: start;
        gap: 30px;
    }
    .container {
        flex-direction: column;
        text-align: center;
        
    }

    .image-side, .text-side {
        max-width: 100%;
    }

    .image-side img {
        margin-bottom: 20px;
    }

    .hero {
        flex-direction: column; 
        padding: 1.5em; 
        text-align: center; 
    }

    .hero-text {
        width: 100%; 
        padding: 0 20px; /* Adjust padding for readability */
    }

    .hero-text h1 {
        font-size: 2rem; /* Adjust headline size for smaller screens */
    }

    .hero-text p {
        font-size: 1rem; /* Adjust paragraph text size for smaller screens */
    }

    .hero-image {
        width: 100%; /* Adjust image width to fit smaller screens */
        margin: 20px auto; /* Center the image with automatic margins */
        display: block; /* Ensure the image is block level for margin to work */
    }
    .container-1 {
        flex-direction: column; /* Stack elements vertically */
        max-width: 80%;
       
       
    }

    .image-side, .text-side {
        width: 100%; /* Both elements take full width */
        
    }

    /* Optionally adjust image sizes if necessary */
    .image-side img {
        width: 100%; /* Ensure image is responsive */
        max-width: 100%; /* Ensure image does not exceed its container */
        height: auto; /* Maintain aspect ratio */
    }

    .footer-bottom {
        margin-left:0;
    
    }
    .sigin
    {
        
        flex-direction: column-reverse;
        align-items: center;
    }
    .sigin-image-side  {
        
        width:100%
    
    }
    .signup-container
    {
        flex-direction: column-reverse;     
       
    }
     .signup
    {
       
        width: 100%; 
       
    }
    
    .welcome-section
    {
        
        width: 100%; 
    }
    .signin-container {
        width:100%
    }
    .sigin-image-side img {
        display: none;
    
    }
    .signup {
        padding: 2em; /* Reduced padding */
    }

    .registration-form {
        padding: 20px; /* Reduced padding */
        max-width: 100%; /* Allows some space on very small screens */
    }
    .dashboard-cards {
        
    
        flex-direction: column;
        align-items: center;
    }
    }