/*
COLOR PALETTE
https://coolors.co/eaefbd-c9e3ac-90be6d-ea9010-37371f

font-family: "Noto Sans", sans-serif;
font-family: "Righteous", sans-serif;
font-family: "Merriweather", serif;

background-color: #ADE25D;
color: #40531B;

*/


/*--------- Custom CSS Reset--------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: rgb(24, 24, 24);
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    height: 100vh;
    background-color:#F9F9F9;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
  
    
}


/*----------- Header and Nav of home page---------- */
header {

    background-color: #ADE25D;
    color: #40531B;
}
.main-navbar {
    display: grid;
    place-items: center;
    padding: 2em 6em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;

}

.navbar-logo {
    padding-left: 2.5em;
}

.navbar-logo img {
    height: 65px;


}

.navbar-nav {
    list-style: none;
    display: flex;

}

.navbar-nav li {

    padding-right: 2.5em;
}

.navbar-nav li a {
    text-decoration: none;
    color: #40531B;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;

}

.hero {
    display: flex;
    padding: 3.5em;
    align-items: center;
    justify-content: center;
}

.hero-text {
    width: 40%;
    padding-left: 90px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 0.1em;
}

.hero-text h1 {

    font-size: 4rem;
}


.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
    height: auto;
}


/* ------------Footer----------- */

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #EA9010;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}

.footer-bottom {
    margin-top: 4rem;
    margin-left: 4rem;
}


/*-------------------Home page--------------------- */
.ride-share-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 20px 20px; */
    background-color: #EAEFBD;
    padding: 3em;
    border-radius: 1em;
	box-shadow: 1.5em 1.5em 1px #ADE25D;
}

.image-side img {
    max-width: 80%;
    height: auto;
   
}

.text-side {
    max-width: 50%;
}

.text-side h2 {
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
    color: #40531B;
    font-size: bold;
}

.text-side p {
    margin-bottom: 20px;
}

.signup-btn {
    
    background-color: #EA9010;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.signup-btn:hover {
    background-color: #c77c15;
}

.features-list {
    display: flex; /* Apply Flexbox */
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
    
}

.features-list span{
    margin-left: 20px;
}

.features-list img
{
    width:40px;
}

.feature-container
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom:1rem;
    padding-left:2rem;
}
.home-page-content
{
    background-color:#F9F9F9;
}

/*-------------------Sign In----------------*/

.sigin
{
    display: grid;
    place-items: center; /* Shorthand for align-items and justify-items */
    min-height: 100vh;
}
.signin-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
    width: 100%;
    max-width: 450px; 
    text-align: center; 
    
    
}

.signin-container h2 {
    
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color:#40531B;
    /* font-family: "Righteous", sans-serif; */
    font-family: "Merriweather", serif;
    
}

.form-group {
    text-align: left; 
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600; 
}

.form-group input {
    width: 100%; 
    padding: 10px;
    border: 2px solid #bdbdbd; 
    border-radius: 5px; 
    
}

.signin-btn {
    margin-top: 30px;
    width: 100%;
    padding: 12px 0;
    background-color:#EA9010;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.signin-btn:hover {
    
    background-color: #c77c15;
}

.register-links {
    margin-top: 25px; 
    display: flex;
    flex-direction: column;
    gap:10px;
}
.register-links h3
{
    color:#40531B;
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.register-links a {
    text-decoration: none;
    color: #5454ef;
    margin: 0 5px;
    
}

.register-links a:hover {
    text-decoration: underline;
      
}

/*-------------------Sign Up----------------*/

.signup
{
    display: grid;
    place-items: center; /* Shorthand for align-items and justify-items */
    min-height: 100vh;
    padding:5em;
}
.registration-form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
    width: 100%;
    max-width: 550px;
    
}

.signup h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color:#40531B;
    /* font-family: "Righteous", sans-serif; */
    font-family: "Merriweather", serif;
    
}

.registration-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}
/* .registration-form p{
    font-weight: 600;
    font-size: 1.1em;
   color:#c77c15;
   text-align: center;
} */
.registration-form input[type="text"],
.registration-form input[type="date"],
.registration-form input[type="email"],
.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form input[type="number"],
.registration-form select,
.registration-form .register-button {
    width: 100%; 
    padding: 10px;
    border: 2px solid #bdbdbd; 
    border-radius: 5px; 
}


.registration-form-group {
    text-align: left; 
    margin-bottom: 20px;
   
}
.registration-form-group .checkbox, .upload-file {
    display:flex;   
    gap: 5px;
    align-items: baseline;
    
}
.signin-btn img {
    
    width:40px;
}
.signup-btn
{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}


/*-------------------Driver Dashboard----------------*/
/* User info styling */
.driver-dashboard .user-info {
    
    background-color: #ffffff; /* White background for the user info bar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    display:flex;
    align-items: center;
    padding-left:8em;
    
}

.driver-dashboard .user-info img.profile-pic {
    width: 80px; /* Adjust based on your preference */
   
    border-radius: 50%; /* Circular profile pictures */
    
}

.driver-dashboard .user-info span {
    font-size: 1.5em;
    font-weight: 600;
    color:#40531B;
    font-family: "Merriweather", serif;
}

/* Dashboard cards styling */
.dashboard-cards {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between cards */
    padding: 10em; /* Padding around the cards */
    
}

.dashboard-card {
    width: 230px; 
    height: 230px;
    background-color:#ADE25D;
    color: #333; 
    text-align: center;
    line-height: 230px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: all 0.3s ease; 
    text-decoration: none; 
}


.dashboard-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); 
}

.dashboard-card h3 {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

/*-------------------Post a ride----------------*/

.post-ride-container {
    max-width: 800px;
    margin: 0 auto; /* This centers the container */
    padding-top: 6em;
    padding-bottom: 6em;
   
}

.page-title {
    text-align: left;
    
    color: #40531B;
    font-size: 2.5rem;
}
hr {
    border: 0; 
    height: 5px; 
    width:20%;
    border-radius:2px;
    background-color:#CFFFB3;
    margin-top: 20px; 
    margin-bottom: 40px; /* Space below the hr */
}
.post-ride-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.date-time-group {
    display: flex;
    gap: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical; /* Allows vertical resizing, might be useful for additional notes */
}

.submit-btn {
    /* grid-column: span 2;  */
    padding: 10px 20px;
    background-color: #EA9010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #c77c15;
}

/*-------------------Media query----------------*/
@media only screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;

    }
    .container {
        flex-direction: column;
        text-align: center;
    }

    .image-side, .text-side {
        max-width: 100%;
    }

    .image-side img {
        margin-bottom: 20px;
    }
}