/*
COLOR PALETTE
https://coolors.co/eaefbd-c9e3ac-90be6d-ea9010-37371f

#90BE6D
#C9E3AC
#EA9010
#37371F
#EAEFBD

*/


/* Custom CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 16px;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header {

    background-color: #ADE25D;
    color: #40531B;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;

}

.navbar-logo img {
    height: 50px;

}

.navbar-nav {
    list-style: none;
    display: flex;

}

.navbar-nav li {
    margin-left: 3em;
}

.navbar-nav li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #40531B;

}

.hero {
    display: flex;
    padding: 3.5em;
    align-items: center;
    justify-content: center;
}

.hero-text {
    width: 40%;
    padding-left: 90px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 0.1em;
}

.hero-text h1 {

    font-size: 4rem;
}



.hero-image {
    width: 60%;
}

.hero-image img {
    width: 100%;
    height: auto;
}